<div class="sign-in">

  <%= form_for(:session, url: sessions_path(redirect_path: params[:redirect_path]), :html => {:class => "form-inline"}) do |f| %>
  
  <div class="row-fluid">
    <div class="span4">
      <%= f.text_field :email, placeholder: "Email", :class => "input-medium span2" %><br/>
      <%= f.check_box :remember_me, class: "signin" %>
      <%= f.label :remember_me, "Remember me", class: "signin" %><br /><br />
    </div>
    <div class="span4">
      <%= f.password_field :password, placeholder: "Password", :class => "input-medium span2" %><br/>
      <%= link_to "Forgot your password?", reset_password_path, class: "signin" %>
    </div>
    <div class="span2">
      <%= f.submit "Sign In", class: "btn" %>
    </div>
  </div>
  
  <% end %>

</div>

