<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path(redirect_path: params[:redirect_path])) do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <div>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    </div>
    <% end %>
    <%= link_to "Forgot your password?", reset_password_path %>
    
    <p>Or, if you need an account: <%= link_to "Sign up now!", sign_up_path %></p>
  </div>
</div>
