<% provide(:page_header, 'Sign in') %>

<div class="row-fluid">
  
  <div class="span4">
    <%= form_for(:session, url: sessions_path(redirect_path: params[:redirect_path])) do |f| %>
      <div class="control-group">
        <div class="controls"><%= f.label :email, :class => 'control-label' %></div>
        <div class="controls"><%= f.text_field :email, :class => 'span4' %></div>
      </div>
      <div class="control-group">
        <div class="controls"><%= f.label :password, :class => 'control-label' %></div>
        <div class="controls"><%= f.password_field :password, :class => 'span4' %></div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.label :remember_me, class: "checkbox" do %>
            <%= f.check_box :remember_me %> Remember me
          <% end %>
          <span><span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls"><%= f.submit "Sign in", class: "btn btn-info" %></div>
      </div>
    <% end %>

    <%= link_to "Forgot your password?", reset_password_path %>
    <p>Or, if you need an account: <%= link_to "Sign up now!", join_path %></p>
  </div>
  <div class="span4" style="text-align: center">
  	<h2 style="margin-bottom: 15px">Or you can login with your facebook account</h2> 
  	<%=link_to (image_tag "signup-facebook.png", :style=> "width: 160px;height: 42px;"), "/auth/facebook", id: "sign_in"%>
  </div>
</div>
