<!DOCTYPE html>
<html>
  <body>

    <div>
      Hi, <%= @user.first_name %>!
    </div>
    <br/>
    <div>Your account has been created. Welcome to <%= link_to "BOOGiF", @root_url %>! </div>
	<div>Please verify your account using <%= link_to "this link", @verification_url %></div>

    <br />
    <div>  If you need some help finding your way around, check out
      <%= link_to "How to use BOOGiF", @help_url %>
    </div>

    <%= render partial: "signature" %>
    
  </body>

</html>
