<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <div>
      Hi <%= @user.first_name %>,
    </div>
    <br/>
    <div>
      Just a quick reminder that you've decided to buy
      <%= @other_user.full_name %> the following item:

      <div>
        Product name: <%= @item.title %>
      </div>
      <div>
        Description: <%= @item.description %>
      </div>
      <div>
        Where: <%= link_to 'here', @item.buy_link %>
      </div>

      Here's a link that might help: <%= @item.buy_link %>
    </div>

    <%= render partial: "signature" %>

  </body>

</html>
