<%= form_for @user, :html => { :class => 'form-horizontal signup-form' } do |f| %>
<%= render 'shared/error_messages' %>

<fieldset>
	  <div class="control-group">
	    <%= f.label :first_name , :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.text_field :first_name, :class=>"text-field"  %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :last_name , :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.text_field :last_name, :class=>"text-field"  %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :email , :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.text_field :email, :class=>"text-field"  %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :password , :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.password_field :password, :class=>"text-field"  %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :password_confirmation , "Re-enter password", :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.password_field :password_confirmation, :class=>"text-field"  %>
	    </div>
	  </div>
	  <div id="birthday" class="control-group">
			<%= f.label :birthday, :class => 'control-label' %>
			<div id="div_select_birthday" class="controls">
				<label class="inline">
				  <%= f.date_select :birthday, start_year: 1920, end_year: Time.now.year %>
				</label>
				
			  	<label class="inline"><%= f.check_box :hide_age %>Hide my age</label>
  				
			  <div class='alert'>
			    Important: allows us to remind your Family & Friends and let them know what you want as a gift
			  </div>
			</div>
		</div>
		
		<div class="control-group">
		    <%= f.label :gender , :class => 'control-label'%>
		    <div class="controls">
		    	<label class="radio inline">
				  <%= f.radio_button :male, "1", checked: @user.male %><%= f.label :male, " Male"%>
				</label>
				<label class="radio inline">
				  <%= f.radio_button :male, "0", checked: !@user.male %><%= f.label :male, " Female"%>
				</label>
		    </div>
		  </div>
		  
	<div class="control-group">
	    <%= f.label :city , :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.text_field :city, :class=>"text-field"  %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :country , :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.text_field :country, :class=>"text-field"  %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :zip_code , :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.text_field :zip_code, :class=>"text-field"  %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label "Upload a profile picture:" , :class => 'control-label'%>
	    <div class="controls">
	    	<%= f.file_field :photo, :class=>"text-field" , :style=>"width: 80px;" %>
	    </div>
	  </div>
	   <% unless signed_in? %>
		  <div class="control-group">
		    <div class="controls">
		    	<div>
				  By clicking on Sign up you agree with the <%=link_to "Privacy Policy", privacy_path %> and <%=link_to "Terms and Conditions", terms_path%>
				</div>
		    </div>
		  </div>
      <%end%>
	  <div class="control-group">
	    <div class="controls">
	    	<div>
			  <%= f.submit submit_button_text, class: "btn btn-large btn-info" %>
			  <%= link_to "Cancel", home_path, class: "btn btn-large btn-info" %>
			</div>
	    </div>
	  </div>
	  <% unless signed_in? %>
	  <div class="control-group">
	    <div class="controls">
	    	<div>
			  Or, if you already have an account: <%= link_to "Sign in!", sign_in_path %>
			</div>
	    </div>
	  </div>
	 	<%end%>
</fieldset>
<% end %>

<script type="text/javascript">
	$("#user_photo").change(function(){$("#user_photo").css("width", "100%");});
</script>
