<div class="row-fluid">
  <div class="span1">
    <div class="profile-picture">
      <%= image_tag @user.photo.url(:small) %>
    </div>
  </div>
  <div class="span5">
    <h1><%= @user.displayed_name %></h1>
  </div>
  <div class="span2">
    <%= link_to "Connections", profile_connections_path %>
  </div>
  <div class="span2">
    <%= link_to "Reminders", profile_connections_path %>
  </div>
  <div class="span2">
    <%= link_to "How to use BOOGif?", profile_connections_path %>
  </div>  


</div>
