<div class="user-small">
  <div class="row-fluid">
    <div class="span1">
      <div class="profile-picture">
	<%= image_tag user.photo.url(:small) %>
      </div>
    </div>
    <div class="span5 user-small-info">
      <h2><%= user.full_name %></h2>
      <%= user.city%>,<%= user.country %>
    </div>
    <div class="span2">
      <% if current_user.connected?(user) %>
      <%= link_to "Find a gift", user, class: "btn btn-large btn-primary" %>
      <% elsif current_user.requested_connections.include?(user) %>
      <%= link_to "Confirm Connection", confirm_connection_path(user_id: user.id),
	  class: "btn btn-large btn-primary" %>  
      <% else %>
      <%= link_to "Connect", create_connection_path(user_id: user.id), class: "btn btn-large btn-primary" %>  
      <% end %>      
    </div>
    <div class="span1">
      <%= link_to "Mutual Connections", profile_connections_path(mutual_user_id: user.id) %>
    </div>
    
    
  </div>
</div>
