<div class="divider dotted clearfix"><span></span></div>
<div class="user-small">
  <div class="row-fluid">
    <div class="span1">
      <div class="profile-picture">
        <%= image_tag (display_profile_pic user, "small") %>
      </div>
    </div>
    <div class="span5 user-small-info">
      <h2><%= user.full_name %></h2>
      <%= display_address_small user %>
    </div>
    <div class="span3">
      <% if current_user.connected?(user) %>
        <%= link_to "Find a gift", user, class: "btn btn-large btn-info" %>
        <%= link_to "Disconnect", delete_connection_path(user_id: user.id), :confirm => "Are you sure want to disconnect with #{user.full_name}", class: "btn btn-large btn-danger" %>
      <% elsif current_user.requested_connections.include?(user) %>
        <%= link_to "Confirm", confirm_connection_path(user_id: user.id), class: "btn btn-large btn-info" %>  
        <%= link_to "Ignore", delete_connection_path(user_id: user.id), class: "btn btn-large" %> 
      <%elsif current_user.sent_connections.include?(user)%>
      	<%= link_to "Invitation sent", "#", class: "btn btn-large btn-info disabled" %> 
      <% else %>
        <%= link_to "Connect", create_connection_path(user_id: user.id), class: "btn btn-large btn-info" %>  
      <% end %>      
    </div>
    <div class="span2">
      <%= link_to "Mutual Connections", profile_connections_path(mutual_user_id: user.id) %>
      <% if current_user.sent_connections.include?(user) %>
        <div class="disconnect-link">
          <%= link_to "Cancel request", cancel_connection_path(user_id: user.id), class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
