<div class="divider dotted clearfix"><span></span></div>
<div class="user-small">
  <div class="row-fluid">
    <div class="span1">
      <div class="profile-picture">
        <%= image_tag user.photo.url(:small) %>
      </div>
    </div>
    <div class="span5 user-small-info">
      <h2><%= user.full_name %></h2>
      <%= user.city%>,<%= user.country %>
    </div>
    <div class="span2">
      <% if current_user.connected?(user) %>
        <%= link_to "Find a gift", user, class: "btn btn-large btn-info" %>
      <% elsif current_user.requested_connections.include?(user) %>
        <%= link_to "Confirm", confirm_connection_path(user_id: user.id), class: "btn btn-large btn-info" %>  
      <% else %>
        <%= link_to "Connect", create_connection_path(user_id: user.id), class: "btn btn-large btn-info" %>  
      <% end %>      
    </div>
    <div class="span2">
      <%= link_to "Mutual Connections", profile_connections_path(mutual_user_id: user.id) %>
      <% if current_user.connected?(user) %>
        <br />
        <div class="disconnect-link">
          <%= link_to "Disconnect", delete_connection_path(user_id: user.id), :confirm => "Are you sure want to disconnect with #{user.full_name}", class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
