<% provide(:page_header, 'Profile') %>
<div class="user">
  <div class="row-fluid">
    <div class="span1">
      <div class="profile-picture">
        <%= image_tag @user.photo.url(:small) %>
      </div>
    </div>
    <div class="span8">
      <h2><%= @user.full_name %></h2>
      <h4>Birthday: <%= @user.display_birthday %></h4>
      <h4>Address: <%= @user.display_address %></h4>
    </div>
  </div>

  <div class="divider dotted clearfix"><span></span></div>

  <div class="row-fluid lower-profile-page">
    <div class="span3 post-sidebar">
      <div class="post-box">
        <% if current_user?(@user) %>
          <%= form_for @post do |f| %>
            <%= f.text_area :content, placeholder: "What do you want as a gift?",class: "post-text", :rows => 3 %>
        <%= f.submit "Post", class: "btn btn-info pull-right" %>
      <% end %>
      <% end %>
      </div>
      <h3>Timeline of posts</h3>
      <div class='widget widget_recent_entries'>
        <ul>
          <% @user.user_posts.reject(&:new_record?).each do |p| %>
            <li>
            <%= p.content %>
            <% if current_user?(p.user) %>
              <%= link_to p, method: :delete, data: { confirm: "Are you sure you want to delete?" },title: p.content do %>
                <i class="icon-remove"></i>
              <% end %>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      </div>

      <div class="span9 profile-items">
        <% if current_user == @user || current_user.connected?(@user) %>
          <h3>Book of gifts!</h3>
          <% @item_rows.each do |ri| %>
            <div class="row-fluid">
              <% ri.each do |i| %>
                <div class="span2">
                  <%= render partial: "items/show_item", locals: {item: i, user: @user} %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
