<% provide(:page_header, 'How it works') %>
<h2>How It Works</h2>
<h3>For Gift Givers:</h3>
<ol>
  <li><a href="/sign_up">Sign up</a> today and search for family and friends in BOOGiF.</li>
  <li>Connect with them.</li>
  <li>Visit their profile and find exactly what they want and where to find it.</li>
</ol>
<p>If you don’t find someone on BOOGiF you can send an invite through Facebook or email. So next time with only two quick clicks you’ll find the right gift.</p>
<h3>For Gift Receivers:</h3>
<ol>
  <li><a href="/sign_up">Sign up</a> today and start adding products to your list from any retail or online store by using these <a href="#tools">TOOLS</a>.</li>
  <li>If you don’t know exactly what you want or haven’t found it yet you can still express a general desire through a short post in your profile that will be only visible to your family and friends.</li>
  <li>Connect with family and friends and let them discover and give you the things you want.</li>
</ol>
<a name="tools"></a><h3>BOOGiF Tools</h3>
<p>One-time setup to allow saving products when browsing online stores:</p>
<ol>
  <li>First, make sure your browser’s bookmark toolbar is visible. From the View menu in the following browsers choose:
    <ul>
      <li>Chrome: "Always Show Bookmarks Bar"</li>
      <li>Safari: "Show Bookmarks Bar"</li>
      <li>Firefox: choose Toolbar, then tick "Bookmarks Toolbar"</li>
      <li>Explorer: choose Toolbars, then tick "Favorites bar"</li>
    </ul>
  </li>
  <li>
    Drag and drop the +BOOGiF button below to your Bookmarks Toolbar.
    <div>
      <%= link_to bookmarklet_code do %>
        <%= image_tag "arrow.png" %><%= image_tag "plus_boogif.png", :alt=> '+BOOGiF', :height => 40 %>
      <% end %>
    </div>
  </li>
  <li>Start adding to your list the things you love from any online store, with a single click of +BOOGiF button in your Bookmarks toolbar.</li>
</ol>
<p>One-time setup to allow saving products when shopping around in any physical store:</p>
<ol>
  <li>Download BOOGiF App:<br/><%= image_tag "available-on-the-app-store.png", :height => 60 %><%= image_tag "get-it-on-google-play.png", :height => 100 %></li>
  <li>Snap a picture with BOOGiF App whenever your are shopping and feeling the first pangs of product desire and specify the product name, price and other details such as color, size, location, then save it into your list.</li>
</ol>
