<div class="item ">
  <div class="item-image-and-title portfolioItem">
    <%= image_tag (item_photo_path item) %>
    <h4><%= Money::Currency.new(item.currency).symbol %><%= number_with_delimiter(item.price, :delimiter => ',') %></h4>

    <% if !current_user?(user) %>
      <%= check_box_tag  item.id, "1", item.purchaser_id == current_user.id, class: "purchase"  %>
      I'm buying this
    <% end %>
  </div>

  <%= render partial: "items/detail_pop", locals: {item: item} %>

</div>
