<!-- <script type="text/javascript" charset="utf-8">
$(document).ready(function(){
  $('.scrapped-images img').load(function(){
    var i = new Image();
    i.src = $(this).attr('src');
    if (i.width < 60 || i.height < 60 ){
      $(this).parent().parent().remove();
    }
  })
})
</script> -->
<div class="add-gift-div">

  <% if @item.errors.any? %>
    <div id="errorExplanation">
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <%= form_for @item do |f| %>
    <%=f.hidden_field :buy_link%>
    <div class="row-fluid">
      <div class="span2">
        <%= f.label "Product name:" %>
        <%= f.text_field :title, :required => 'required', :placeholder => 'Product name (required)' %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <%= f.label "Price:" %>
        <%= f.text_field :price, :required => 'required', :placeholder => 'Price (required)' %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <%= f.label "Currency:" %>
        <%= f.select :currency, form_currencies%>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <%= f.label "Description" %>
        <%= f.text_field :description, :required => 'required', :placeholder => 'Description (required)' %>
      </div>
    </div>


<!--    <%= f.label "Images:" %>
 <div style='width:250px;height:120px;position:static;overflow-x:auto;overflow-y:auto;'>
   <div class="row scrapped-images">
     <% @images.each do |t| %>
       <div class="span1" style='text-align:center;padding:4px;'>
         <div style='overflow:hidden;text-align:center'>
           <%= image_tag t %>
         </div>
         <%= f.radio_button :photo_path, t %>
       </div>
     <% end%>
   </div>
  </div> -->
  <div class="row-fluid">
      <div class="span2" style="text-align: center;">
  		<label>Image selected (<%=link_to "Select again", "#", :onclick=>"show_images_grid()"%>) </label>
  		<%=image_tag "no-image-found.jpg", :class=>"item-image-selected", :style=>"max-width: 150px;min-width: 60px;" %>
  		<%=f.hidden_field :photo_path, :class=>"item-image-field"%>
  	</div>
  </div>
  <br/>
  <%= f.submit "Add To My Book", class: "btn btn-info block" , :style=>"margin-left: 85px;"%>

  <% end %>


</div>
