<ul class="nav pull-right nav-pills profile-nav">
  <li><%= link_to "My Profile", current_user %></li>
  <li><%= link_to "Settings", settings_path %></li>
  <li><%= link_to "Connections", profile_connections_path %></li>
  <li><%= link_to "Events", events_path %></li>
  <li><%= link_to "Invite Friends", profile_invites_path %></li>
  <li><%= link_to "How do I use BOOGiF?", how_to_use_path %></li>
</ul>
