<% provide(:page_header, 'Connections') %>    

<%= render "profile/connection_search_bar" %>    
<div class="row-fluid">
  <div class="span12">
    <% if @other_user %>
      <h3>Mutual connections with <%= @other_user.full_name %> </h3> 
      <% @mutual_users.each do |p| %>
        <%= render partial: "users/show_small", locals: {user: p} %>
      <% end %>
    <% elsif @search_string %>
    	<%if @searched_users.empty?%>
    		<h3>No results found for "<%= @search_string%>" </h3>
    		If you don't find someone here, you can <%=link_to "send an invitation", profile_invites_path%>
    	<%else%>
	      <h3>Search Results for "<%= @search_string%>" </h3>
	      <% @searched_users.each do |p| %>
	        <%= render partial: "users/show_small", locals: {user: p} %>
	      <% end %>
      <%end%>
    <% else %>
      <% if current_user.requested_connections.length > 0  %>
        <h3>Requested Connections</h3>
        <% current_user.requested_connections.each do |p| %>
          <%= render partial: "users/show_small", locals: {user: p} %>
        <% end %>
      <% end %>

      <% if current_user.connected_people.length > 0  %>
        <h3>Your Connections</h3>
        <% current_user.connected_people.each do |p| %>
          <%= render partial: "users/show_small", locals: {user: p} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>



