

<div class="footer">
  <div class="row-fluid" >
    <div class="span2"></div>
    <div class="span3">
      <h4>PRODUCT</h4>
      <ul>
	<li><%= link_to "Tour", about_path %></li>
	<li><%= link_to "Sign Up", sign_up_path %></li>
	<li><%= link_to "Advertise", about_path %></li>
      </ul>	  
    </div>
    <div class="span3">
      <h4>COMPANY</h4>
      <ul>
	<li><%= link_to "About Us", about_path %></li>
	<li><%= link_to "Terms & Conditions", terms_path %></li>	
	<li><%= link_to "Privacy Policy", terms_path %></li>
	<li><%= link_to "Advertise", about_path %></li>
      </ul>
    </div>
    <div class="span3">
      <h4>COMMUNITY</h4>
      <ul>
	<li><%= link_to "Our Friends", about_path %></li>
	<li><%= link_to "Facebook", terms_path %></li>	
	<li><%= link_to "Blog", terms_path %></li>
      </ul>
    </div>
    
    
    
  </div>
  
</div>

