<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html class="ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 no-js" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>BOOGiF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>



	<!-- http://remysharp.com/2009/01/07/html5-enabling-script/ -->
	<!--[if lt IE 9]>
		<script type="text/javascript">/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/</script>
	<![endif]-->
	<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

  </head>

  <body>
    <!--header and menu-->
    <header class="navbar navbar-fixed-top" id="top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="btnTitle">Menu</span>
            <span class="icon-chevron-down icon-white"></span>
          </a>
          <a class="brand" href="/" title="Home"><%= image_tag("logo.png", height: 56, width: 224) %></a>

          <div class="nav-collapse navbar-responsive-collapse">
            
            <div class="pull-right login-box">
	            <% if signed_in? %>
		        	<ul class='breadcrumb'>
		              <li><%= image_tag(current_user.photo.url(:small), height: 20, width: 20) %></li>
		              <li><%= link_to current_user.full_name, current_user %></li>
		              <li>&nbsp;|&nbsp;</li>
		              <li><%= link_to "Log out", sign_out_path, method: "delete" %></li>
		            </ul>
	            <%else%>
	            	<%= render partial: "sessions/form" %> 	
	            <%end%>
            </div>
            
            <% if signed_in? %>
	            <ul class="nav variable-container">
	                <li class="<%=active?("show") %>"><%= link_to "My Profile", current_user %></li>
	                <li class="<%=active?("connections") %>"><%= link_to "Family & Friends", profile_connections_path %></li>
	                <li class="<%=active?("invites") %>"><%= link_to "Invite A Friend", profile_invites_path  %></li>
	                <li class="<%=active?("edit") %>"><%= link_to "Settings", settings_path  %></li>
	                <li class="last <%=active?("howToUse") %>"><%= link_to "Tools", how_to_use_path(anchor: "tools")%></li>
	            </ul>
            <% end %>
            <!--end main nav-->        
            
          </div><!--end main menu-->
          
        </div>
      </div>
    </header>
    <div class="popup-background" ></div>
    <div class="popup-frame">
      <div class="popup-exit">
        <i class="icon-remove"></i>
      </div>
    </div>


    <!--main tagline area-->
    <section class="taglineWrap">
      <div class="container">
        <div class="row-fluid  tagline">
          <% flash.each do |key, value| %>
            <div class="alert flash-alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
      </div> <!-- /container -->
    </section>
    
    
    <!--main content-->
    <section class="mainContentWrap">
      <div class="container mainContent">
        <div class="row-fluid">
          <%=yield%>
					</div>
				</div>
			</section>

    <footer>  
			<!--footer lower-->
			<section class="footerLower">
				<div class="container">
          <div class="row-fluid">
            <div class="span2 copyright"><p>© 2012+ BOOGiF</p></div>
            <div class="span10 footNav offset1">
                <%= link_to "About BOOGiF", about_path %>
                <%= link_to "How It Works", how_to_use_path %>
                <%= link_to "Online Stores", online_stores_path %>
                <%= link_to "Facebook", "http://www.facebook.com/BOOGiF" %>
                <%= link_to "Twitter", "http://www.twitter.com/BOOGiFConnect" %>
                <%= link_to "Privacy Policy", privacy_path %>
                <%= link_to "Terms & Conditions", terms_path %>
                <%= link_to "Contact Us", contact_path %>
            </div>
					</div>
				</div>
			</section>
			
			
			
		</footer>
    
    
    <!--back to top button-->
    <a href="#top" id="peBackToTop" class="label btt disabled"><span class="icon-chevron-up icon-white"></span></a>

  </body>
</html>


