<!DOCTYPE html>

<html>
  <head>
    <title>BOOGiF!</title>    
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">      
      <%= yield :page_js %>

    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if request.path == add_gift_path %>
    <%= yield %>
    <% else %>

    <%= render "layouts/header" %>
    <div class="popup-background" ></div>
    <div class="popup-frame">
      <div class="popup-exit">
	<i class="icon-remove"></i>
      </div>
    </div>
    
    
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div class="page-content"> 
      <% if signed_in? %>
      <%= render partial: "profile/header_nav" %>
      <% end %>
            
      <div class="row-fluid">
	<div class="span1">
	</div>
	<div class="span11">
	  
	  <%= yield %>
	</div>
      </div>
    </div>

    <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
